body {
  margin: 0;
}

#colors {
  overflow: auto;
}

.color {
  float: left;
  height: 25vw;
  width: 25vw;
}

.saturate {
  -webkit-animation: saturate .5s;
}

@-webkit-keyframes saturate {
  0%, 100%  { -webkit-filter: saturate(none); }
  50% { -webkit-filter: saturate(10); }
}
